<div class="main">
  <div class="table">
    <h2>店長からのお知らせ</h2><br>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @notices.each do |notice| %>
        <tr>
          <td><span><%= notice.created_at.strftime('%Y/%m/%d %H:%M:%S') %></span></td>
          <td><%=link_to "#{notice.title}", "/notice/#{notice.id}/show"%></td>
          <% if admin_user? %>
          <td><%=link_to "編集", "/notice/#{notice.id}/edit"%></td>
          <td><%=link_to "削除", "/notice/#{notice.id}/destroy" ,method: :delete,data: { confirm: '本当に削除してよろしいですか？' }%>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%if @notices.present?%>
    <br>
    <%=link_to "お知らせを全て表示する", "/notices"%>
    <% else %>
    <p>お知らせはありません</p>
    <% end %>
    <div>
      <% if admin_user? %>
      <%=link_to "お知らせを投稿する", "/notice/new"%>
      <% end %>
    </div>
  </div>

  <br>

  <div>
    <h2>スケジュール</h2>
  </div>
  <%#   -------------------------店長用カレンダー----------------------- %>
  <% if admin_user? %>

  <%= month_calendar events: @all_workdays do |date, all_workdays|%>
  <span><%= date.day%></span>

  <% all_workdays.each do |all_workday| %>
  <% if all_workday.date+1 < Date.today %>
  <% all_workday.destroy %>
  <% end %>
  <% end %>

  <div class="parent text-center">
    <%@events.each do |event|%>
    <% if event.start_time==date%>
      <% if event.holiday%>
        <div class="holiday" >
          <span><%= event.title %></span>
        </div>
      <% else %>
      <div class="eventday" >
        <span><%= event.title %></span>
      </div>
      <% end %>
      <% end %>
    <% end %>
  </div>
  <%unless all_workdays.size==0 %>
  <div class="parent">
    <div class="workday text-center">
      <span><%= "#{all_workdays.size}人　" unless all_workdays.size==0 %></span>
      <%= link_to "詳細", "/workdays/#{date}/show" %>
    </div>
  </div>
  <% end %>
  <% end %>

  <div class="text-center">
    <%=link_to "月のシフトを一覧表示する",all_shift_path(month:params[:start_date],class:"link-light"),class:"btn btn-primary all-shift-btn"%>
  </div>

  <% else %>

  <%#   -------------------------店員用カレンダー----------------------- %>
  <%= month_calendar events: @workdays do |date, workdays|%>
  <span><%= date.day%></span>

  <div class="parent text-center">
    <%@events.each do |event|%>
    <% if event.start_time==date%>
      <% if event.holiday%>
        <div class="holiday" >
          <span><%= event.title %></span>
        </div>
      <% else %>
      <div class="eventday" >
        <span><%= event.title %></span>
      </div>
      <% end %>
    <% end %>
    <% end %>
  </div>

  <% workdays.each do |workday| %>
  <% if workday.date+1 < Date.today %>
  <% workday.destroy %>
  <% end %>
  <div class="parent">
    <div class="workday text-center">
      <span><%="#{workday&.begin_time&.strftime( "%-H:%M" )}～#{workday&.finish_time&.strftime( "%-H:%M" )}"%></span>
    </div>
  </div>

  <% end %>
  <% end %>
  <% end %>

  <div class="table">
    <table>

      <tbody>
        <% @events.each do |event| %>
        <% if event.start_time.day >= Time.now.day %>
        <tr>
          <td><%= event.start_time.strftime("%Y-%m-%d") %></td>
          <td><%= event.title %></td>
          <td><%=link_to "編集", "/event/#{event.id}/edit"%></td>
          <td><%= link_to '削除',"/event/destroy/#{event.id}", method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %>
          </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>

    </table>


    <% if admin_user? %>
    <%=link_to "予定を書き込む" ,"/event/new"%>
    <% end %>
    <br><%=link_to "過去の予定を表示する","/events" %>
  </div>
</div>